@media (min-width: 768px) {
	.content-container {
		padding: 30px 30px;
	}
}
@media (max-width: 767px) {
	.auth-header {
		padding-top: 1.25rem;
		.container-fluid {
			padding-left: 1.25rem;
		}
	}
	.card-auth {
		padding: 3rem 1.25rem 1.25rem;
		.auth-body {
			padding-bottom: 0;
		}
	}

	.auth-form-meta, .auth-title {
		margin-bottom: .5rem;
	}

	.card-user {
		.userinfo-table {
			tbody {
				td {
					display: block;
				}
			}
		}
	}
	
}