
.table-border-rounded {
    width: 100%;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: none;
    border-radius: .28571429rem;
    text-align: left;
    color: rgba(0,0,0,.87);
    border-collapse: separate;
    border-spacing: 0;
    thead {
        th {
            border-top: 0;
            border-bottom: 0;
            font-size: .875rem;
            background: #f9fafb;
        }
        tr {
            &:first-child {
                border-radius: .28571429rem 0 0 0;
            }
            &:last-child {
                border-radius: 0 .28571429rem 0 0;
            }
        }
    }
}


.table-responsive-hr {
    overflow-x: scroll;
}

.table-actions {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding-left: 0;
    margin: 0 -2px;

    li {
        padding-left: 2px;
        padding-right: 2px;
    }
}

.table-default {
	font-size: .875rem;
	thead {
		th {
			border-top: 0;
			background-color: #f6f6f6;
			border-bottom: 0;
			font-weight: 500;
			color: $color-heading;
			padding-top: 1rem;
			padding-bottom: 1rem;
			white-space: nowrap;
		}
	}
	tbody {
		td {
			border-top-color: $border-color;
		}
	}
}

.datatable-container {
	font-size: .875rem;

	.DTFC_LeftHeadWrapper, .DTFC_LeftBodyWrapper {
		box-shadow: 5px 5px 5px -2px rgba(0, 0,0,.1);
	}
	.DTFC_RightHeadWrapper, .DTFC_RightBodyWrapper {
		box-shadow: -5px 5px 5px -2px rgba(0, 0,0,.1);
	}
}
.datatable-default-fixed-column {
	font-size: .875rem;
	thead {
		th {
			border-top: 0;
			background-color: #f6f6f6;
			border-bottom: 0;
			font-weight: 500;
			color: $color-heading;
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}
	tbody {
		td {
			border-top-color: $border-color;
		}
	}
}

.datatable-default {
	font-size: .875rem;
	thead {
		th {
			border-top: 0;
			background-color: #f6f6f6;
			border-bottom: 0;
			font-weight: 500;
			color: $color-heading;
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}
	tbody {
		td {
			border-top-color: $border-color;
		}
	}
}